@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Poppins:wght@500&display=swap');

:root{
    --fonte-principal: noto sans jp;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-principal), cursive;
}

/* navegação*/
#nav{
    background-color: crimson;
    padding-top: 10px;
    padding-bottom: 10px;
}

#nav ul li {
    list-style: nome;
    display: inline;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

#nav ul#menu li {
    float: left;
    border-radius: 8px;
}

#nav ul.right li {
    float: right;
}

.container {
    width: 1140px;
    max-width: 100%;
    margin: auto;
}

.crearfix::before,
.clearfix::after{
    content:"";
    display: block;
    clear: both;
}

#nav ul li a {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    text-decoration: nome;
}

#nav ul#menu li.active {
    background-color: darkred;
}

#nav ul#menu li.hover {
    background-color: darkred;
}

/*cores*/
.gold{
    background-color: gold;
}

/*imagem banner atrás*/
.banner{
position: relative;
}

.banner::before {
content: "";
background-image: url('../img/bandeirinhas.png');
background-size: cover;
background-repeat: no-repeat;
background-position: top;
position: absolute;
opacity: 0.2;
top: 0;
left: 0;
bottom: 0;
right: 0;
}



.btn {
    font-family: var(--fonte-principal);
    padding: 15px;
    margin: 30px 0;
    border-radius: 45px;
    background-color: crimson;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover {background-color: darkred;}
selection {padding-bottom: 20px;}
blockquote, p, hr {margin-bottom: 10px;}

selection h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

[class*="col-"] {
    float: left; padding-right:5px;
}

/*grid com 12 colunas*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.32%;}
.col-5 { width: 41.65%;}
.col-6 {width: 49.98%;}
.col-7 {width: 58.31%;}
.col-8 {width: 66.64%;}
.col-9 {width: 74.97%;}
.col-10 {width: 83.3%;}
.col-11 {width: 91.63%;}
.col-12 {width: 100%;}

/*seção alimentos*/
#alimentos img {
    height: 200px;
}

#alimentos h6 {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    color: #f8f8f8;
    background-color: crimson;
    border-radius: 0 0 8px 8px;
    font-weight: normal;
    padding: 5px;
}

/*ajuste nas imagens*/
img {
    width: 100%;
}

img.img_ajuste {
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

#barraca_do_beijo H2 {
    color: darkred;
}

#barraca_do_beijo_2 H2 {
    color: darkred;
}

.green {
    background-color: greenyellow;
}

.pink {
    background-color:papayawhip;
}
